     <div class="container">
        <div class="valami">
            <button>
                <a routerLink="/home">home</a>
            </button>
            <br>
            <button>
                <a routerLink="/kolcsonzesek">kolcsonzesek</a>
            </button>
            <br>
            <button>
                <a routerLink="/kolcsonzok">kolcsonzok</a>
            </button>
        </div>
        <span>
            <router-outlet></router-outlet>
        </span>
     </div>
     <a href="">ez mindig itt van</a>